*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

}

body{
    background-image: url(art-6689072.png);

}

p, li, a{
    text-decoration: none;
    color: black;
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e8ff00;

}

.logo{
    padding: 10px 20px;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: .2em;
       
}

li{
    list-style: none;
    display: inline-block;

}

.navs li a{
    margin: 0 15px;
    font-weight: bold;
    
}

button{
    margin-right: 10px;
    border: none;
    background-color: #373a41;
    color:#e8ff00;
    padding: 8px 15px;
    font-weight: bold;

}

button:hover{
    background-color: #2b2f35;
    border-radius: 15px;
   
}